############################
# Maven
############################
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

# JetBrains caches
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/libraries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/jarRepositories.xml

############################
# Logs
############################
*.log

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Java / Build
############################
*.class
*.jar
*.war
*.ear

############################
# Misc
############################
*.swp
*.swo
